@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-primary: rgb(250, 250, 250);
    --font-secondary: rgb(36, 162, 183);
    --bg-primary: rgb(40, 44, 52);
    --bg-secondary: #21252b;
    --bg-btn: #03665c;
    --bg-btn-light: teal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: var(--bg-btn);
}

.topSide {
    background-color: var(--bg-secondary);
    width: 100vw;
    height: 200px;
}

.botSide {
    background-color: var(--bg-secondary);
    width: 100vw;
    height: 400px;
    margin-top: 50px;
}

.testKanjul {
    background-color: var(--bg-primary);
    height: 300px;
    margin-top: 10px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 144px;
    font-weight: 900;
    color: #03665c;
}

.cardscontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    border: 1px #03665c;
    margin: 15px;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
    color: var(--font-primary);
    text-align: center;
}

.cardTitle{
    margin-bottom: 15px;
}

.cardBody{
    margin: 15px;
    text-align: justify;
}